.box{
	height: 100px;
	background-color: hotpink;
	margin-bottom: 5px;
}
.box2{
	height: 100px;
	background-color: tomato;
	margin-bottom: 5px;

}
.box1{
	height: 100px;
	background-color: blueviolet;
	margin-bottom: 5px;
}
.box4{
	height: 100px;
	background-color: wheat;
	margin-bottom: 5px;
}
